.menu-container {
    position: relative;
  }
  
  .hamburger-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1050;
  }
  
  .offcanvas {
    width: 250px; /* Adjust the width of the side menu */
  }
  
  .btn-block {
    width: 80%;
  }
  
  .card {
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    border-bottom: 1px solid #ddd;
  }
  
  .badge {
    margin-top: 10px;
  }

  .user-cart-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1050;
  }
  
  .user-cart-btn {
    margin-left: 10px; /* Space between buttons */
  }
  
  